* {
    margin: 0;
    box-sizing: border-box;
    font-family: Rajhandi, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--black-color);
}

:root {
    --gradient-color: linear-gradient(90deg, #524dd0 0%, #84389e 100%);
}

@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-Bold.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-Regular.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
}

section {
    width: fit-content;
    display: none;
}

dl {
    border: 1px black solid;
    height: 40rem;
    margin-bottom: .5em;
    border-radius: 1rem;
    box-shadow: 1px 3px 2px #bbbbbb;
    background-color: rgb(64, 3, 86);
    color: white;
}

dt {}

dd {

    border-radius: 3rem;
    width: fit-content;
    padding: .5em 1em;
    margin: 1rem;
}

input {
    border-radius: 1rem;
}

button {
    background: var(--gradient-color);
    color: white;
    padding: 0 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
}